
@import url('https://fonts.googleapis.com/css?family=Cardo:700');

body {
	color:#333333;
}

#page {
	width:980px;
	margin:0 auto;
}

#pageHead #siteTitle {
	font-size:30px;
	line-height:1.2;
	margin-bottom:0;
	font-family: 'Cardo', serif;
}

#pageHead #catchcopy {
	font-size:12px;
	line-height:1.5;
	margin-top:5px;
}

#pageFoot {
	border-top:solid 1px #CCCCCC;
	margin-top:15px;
	clear:both;
}

#pageFoot #copyright small {
	font-size:12px;
	line-height:1.5;
}

#pageBody {
	margin-top:30px;
}


#pageBodyMain {
	width:720px;
	float:left;
}

#pageBodySub {
	width:220px;
	float:right;
}

#pageBodyMain P {
	font-size:14px;
	line-height:1.429;
}

#pageBodyMain ul li {
	font-size:14px;
	list-style-type:square;
	line-height:1.429;
}

#pageBodyMain table {
	font-size:14px;
	line-height:1.429;
	border:1px solid #CCCCCC;
	width:100%;
}

#pageBodyMain table th,
#pageBodyMain table td {
	border:1px solid #CCCCCC;
	padding:5px 10px;
}

#pageBodyMain table th {
	background-color:#EEEEEE;
	text-align:left;
}

#pageBodyMain table caption {
	text-align:left;
	font-weight:bold;
}

#pageBodyMain figcaption {
	font-size:12px;
}


#pageBodyMain .pageTitle {
	font-size:26px;
	background-color:#F2F2E5;
	padding:5px 15px;
	line-height:1.231;
	margin-top:0;
}

#pageBodyMain.heading-typeA {
	font-size:18px;
	color:#349FA6;
	border-bottom:solid 1px #349FA6;
	padding:5px;
	line-height:1.333;
}

#pageBodyMain .heading-typeB {
	font-size:16px;
	border-left:solid 5px #E3E4D9;
  padding-left:10px;
	line-height:1.375;
}

#pageBodyMain .heading-typeC {
	font-size:14px;
	line-height:1.429;
}

#pageBodyMain .articleDetailHead {
	border-bottom:solid 1px #CCCCCC;
	margin-bottom:30px;
	padding-bottom:15px;
}

#pageBodyMain .articleDetailFoot {
	border-top:solid 1px #CCCCCC;
	margin-top:30px;
	padding-top:15px;
}

#pageBodyMain .articleDetailBody section {
	margin:30px 0;
}

#pageBodyMain .creditUnit {
	padding:10px;
	border:solid 1px #CCCCCC;
}

#pageBodyMain .creditUnit p {
	font-size:12px;
	line-height:1.5;
}


